<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redentor.redgames">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/redentor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/redentor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailsTeamActivity"></activity>
        <activity android:name=".FullDescriptionGameActivity" />
        <activity android:name=".DescriptionGamesActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>